body{
  font-family: Montserrat;
}

#title{
  background-color: #f3bad6;
  color: white;

}

.container-fluid{
  padding: 3% 15% 5%;
}



h1{
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;

}

/* Navigtaion Bar */
.navbar{
  padding: 0 0  4.5rem ;

}

.navbar-brand{
  font-family: "Montserrat-bold";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 10px;
}

.nav-link{
  font-size: 1.5rem;
  font-family:  "Montserrat-light";

}

/* Download Butons */
.Download-button{
  margin: 5% 3% 5% 0;
}

/* Image */
@media  (min-width:1398px) and (max-width:2000px){

.title-image {
  width: 35%;
transform: rotate(0deg);
position: absolute;
right: 0%;
}
}

/* Fetaure*/
@media  (min-width:1398px) and (max-width:2000px){
#features{
  padding: 7% 15%;
  background-color: white;
  position: relative;

}
}

.feature-box{
  text-align: center;
  padding: 5% 10%;
}


h3{
  font-family: "Montserrat-bold";
  font-size: 1.5rem;
  font-weight: bold;
}

.icon{
color: #e05297;
margin-bottom: 0.5rem;
}

.icon:hover{
color: #f3bad6;
}



p{
  color: #8f8f8f;
}

/* testimonial */

#testimonials{

  text-align: center;
  background-color: #e05297;
  color: white;
}

.ChoclateImage{
  width: 35%;
}


h2{
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 2.5%;
}

#press{
  background-color: #e05297;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo{
  width: 12%;
  margin: 20px 20px 50px;
}

.carousel-item{
  padding: 7% 15%;
}


/* Pricing */

#pricing{
  padding: 100px;
  text-align: center;
}

.button-color{background-color: white;}

.button-color:hover{background-color: #f3bad6;}

.card-header{
  background-color: #e05297;
}


.card-header:hover{
  background-color: #f3bad6;
}

.pricing-column{
  padding: 3% 2%;
}


/* cta */


#cta{
  text-align: center;
  background-color: #f3bad6;
  padding: 3% 12%;
}
.cta-head{
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
  color: white;
  padding:  0% 20%;
}
/* Footer */
#footer{
  text-align: center;
  background-color: white;
  padding: 2% 4%;
}

.SocailTag{
  margin-right: 25px;
}
